/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
   width: 1000px;
   margin: 0 auto;
}

.bar{
    background: #f6f6f6;
}

.bar ul{
    display: flex;
    justify-content: flex-end;
}

.bar ul li{
    margin: 5px;
}

.bar li a{
	text-decoration: none;
	font-size: 16px;
 
}

.bar li img{
    margin-right: 5px;
    float: left;
}

.facebook{
    border-right: 2px solid #cccccc;
    padding-right: 8px;
}

.facebook span{
    color:#4460a0;
}

.header h1{
   float: left;
}

.header{
	background: #ffffff;
	margin: 0 auto;
	padding: 10px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.header h1 a{
	background-image: url(../images/logo.png);
	width: 224px;
	height: 50px;
	display: block;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.menu{
	display: flex;
}

.menu li{
	width: 100px;
	text-align: center;
}

.menu li a{
	color:#66e0c2;
	display: block;
	font-weight:bold;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu li a:hover{
	border-bottom: solid 3px #00cc99;
}

.banner{
	background-image: url(../images/banner.png);
	height: 346px;
	background-size:cover;
	background-position:center center;
	display:flex;
	align-items: center;
}

.banner h1{
	color: #ffffff;
	font-size: 30px;
	line-height: 1.5;
	padding-left: 15px;
	padding-top: 42px;
	padding-bottom: 42px;
	background: rgba(0, 0,0,0.3);
}

.banner .mask{
	width: 100%;
}

.course{
	display: flex;
	justify-content: space-around;
	padding-top: 30px;
}

.course-item{
	box-shadow: 0 8px 6px -6px #808080 ;
	width: 300px;
}

.course-item h2{
	text-align: center;
	font-size: 25px;
}

.course-item img{
	margin: auto;
	display: block;
	padding-top: 15px;
}

.course-item,.html5{
	margin-top: 10px;
}

.course-item,.rwd{
	margin-top: 60px;
}

.course-item,.jQuery{
	margin-top: 30px;
}

.course-item ul{
	margin-top: -10px;
}

.course-item ul li{
	list-style-type: square;
	margin-left: 30px;
	line-height: 1.5;
}
.course-item p{
  padding: 10px 10px 10px 10px;
  line-height: 1.5;
}

.content{
	margin-bottom: 20px;
}

.class h1{
   margin-top: 65px;
   margin-bottom: 32px;
   font-size: 23px;
   text-align: center;
   font-weight: normal;
}

.table{
   margin: 0 auto;
   width: 838px;
   height: 256px;
   margin-bottom: 62px;
}

.table th,.table td{
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
}

.table th{
	padding: 10px;
	background: #f7f7f7;
	font-weight: bolder;
	border-color: #dddddd;
	color: #000000;
 }
 
 .table td{
   padding: 10px;
   border-color: #dddddd;
   font-weight: normal;
   text-align: center;
 }

 .class .table .low{
	 color: #55c4a8;
 }

 .class .table .well{
	color: #55c4a8;
}

.class .table .yes{
	color: #55c4a8;
}

.class .table .normal{
	color: #55c4a8;
}


.form{
	background: #006a50;
}

.form h1{
	padding-top: 36px;
}

.form h1,h2{
	font-size: 24px;
	text-align: center;
	color: #ffffff;
	line-height: 1.5;
}

form{
	display: flex;
}

form .textarea{
  margin-top: 30px;
  margin-bottom: 31px;
  margin-left: 20px;
}

form .contact,.name,.phone,.mail{
	margin-bottom: 5px;
	color: #ffffff;
}

form .contact #name,#phone,#mail{
	width: 460px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid #ffffff;
	margin-bottom: 15px;
}

.contact{
	margin-top: 40px;
	margin-left: 40px;
}

.contact label,input{
	display: block;
}

input[type="submit"]{
	width: 72px;
	height: 33px;
	background-color: #00cc99;
	color: #ffffff;
	margin-left: 392px;
	border: 1px solid #00cc99;
	border-radius: 5px;
}

.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer img{
	width: 171px;
	height: 36px;
}

.footer .info{
	margin-bottom: 23px;
}

.footer .info p{
	margin-bottom: 10px;
}

.footer .info span{
	color: #e54991;
}














