/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
   margin: 0 auto;
}

.bar{
    background: #f6f6f6;
}

.bar ul{
    display: flex;
    justify-content: flex-end;
}

.bar ul li{
    margin: 5px;
}

.bar li a{
	text-decoration: none;
	font-size: 16px;
 
}

.bar li img{
    margin-right: 5px;
    float: left;
}

.facebook{
    border-right: 2px solid #cccccc;
    padding-right: 8px;
}

.facebook span{
    color:#4460a0;
}

.header h1{
   float: left;
}

.header{
	background: #ffffff;
	margin: 0 auto;
	padding: 10px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.header h1 a{
	background-image: url(../images/logo.png);
	width: 224px;
	height: 50px;
	display: block;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.menu{
	display: flex;
}

.menu li{
	width: 100px;
	text-align: center;
}

.menu li a{
	color:#66e0c2;
	display: block;
	font-weight:bold;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu li a:hover{
	border-bottom: solid 3px #00cc99;
}

.banner{
	background-image: url(../images/banner.png);
	height: 346px;
	background-size:cover;
	background-position:center center;
	display:flex;
	align-items: center;
}

.banner h1{
	color: #ffffff;
	font-size: 30px;
	line-height: 1.5;
	padding-left: 15px;
	padding-top: 42px;
	padding-bottom: 42px;
	background: rgba(0, 0,0,0.3);
}

.banner .mask{
	width: 100%;
}


